body {
    background: url(./background-pic.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
button{
    width: 100px;
    height: 40px;
}

/*styling for right side*/
#rightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#densityButtons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 25px
}

h1{
    font-size: 75px;
    margin-top: 15px;
}

/*styling for left side*/ 
#leftContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 100px;
}

input{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

/*styling for the grid*/
.wholeGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    background-color: black;
    width: 680px;
    height: 680px;
}

.columns { 
   margin: -0.5px;
}

/* Classes for squares*/
.singleSmallSquares {
    background-color: white;
    height: 40px;
    width: 40px;
    margin: 1px;
}

.singleMediumSquares {
    background-color: white;
    height: 19.5px;
    width: 19.5px;
    margin: 1px;
}

.singleBigSquares {
    background-color: white;
    height: 9.25px;
    width: 9.25px;
    margin: 1px;
}

