body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    
}

#gridContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
}
.wholeGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 680px;
    height: 680px;
}

.columns { 
   margin: -0.5px;
}

.singleSmallSquares {
    background-color: white;
    height: 40px;
    width: 40px;
    margin: 1px;
}

.singleMediumSquares {
    background-color: white;
    height: 19.5px;
    width: 19.5px;
    margin: 1px;
}

.singleBigSquares {
    background-color: white;
    height: 9.25px;
    width: 9.25px;
    margin: 1px;
}

